/Makefile
/Makefile.in
/aclocal.m4
/bin/Makefile
/bin/Makefile.in
/bin/cli/.deps/
/bin/cli/.libs/
/bin/cli/Makefile
/bin/cli/Makefile.in
/bin/cli/b64
/bin/cli/b64.o
/bin/cli/cmcli
/bin/cli/cmcli.o
/bin/cli/dlog
/bin/cli/dlog.o
/bin/cli/nsscfg
/bin/cli/nsscfg.o
/bin/cli/sscli
/bin/cli/sscli.o
/bin/cli/xmlpp
/bin/cli/xmlpp.o
/build-stamp
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure-stamp
/debian/files
/debian/libmaemosec-certman-dev/
/debian/libmaemosec-certman0-dbg/
/debian/libmaemosec-certman0.postinst.debhelper
/debian/libmaemosec-certman0.postrm.debhelper
/debian/libmaemosec-certman0.substvars
/debian/libmaemosec-certman0/
/debian/libmaemosec-dev/
/debian/libmaemosec0-dbg/
/debian/libmaemosec0.postinst.debhelper
/debian/libmaemosec0.postrm.debhelper
/debian/libmaemosec0.substvars
/debian/libmaemosec0/
/debian/maemosec-certman-common-ca/
/debian/maemosec-certman-doc/
/debian/maemosec-certman-tools-dbg/
/debian/maemosec-certman-tools.substvars
/debian/maemosec-certman-tools/
/debian/tmp/
/depcomp
/include/config.h
/include/config.h.in
/include/stamp-h1
/install-sh
/lib/Makefile
/lib/Makefile.in
/lib/certman/.deps/
/lib/certman/.libs/
/lib/certman/Makefile
/lib/certman/Makefile.in
/lib/certman/certman_main.lo
/lib/certman/certman_main.o
/lib/certman/cryptoki_config.lo
/lib/certman/cryptoki_config.o
/lib/certman/cryptoki_module.lo
/lib/certman/cryptoki_module.o
/lib/certman/libmaemosec_certman.la
/lib/certman/x509_container.lo
/lib/certman/x509_container.o
/lib/security/.deps/
/lib/security/.libs/
/lib/security/Makefile
/lib/security/Makefile.in
/lib/security/c_xmldoc.lo
/lib/security/c_xmldoc.o
/lib/security/c_xmlnode.lo
/lib/security/c_xmlnode.o
/lib/security/dlog_send.lo
/lib/security/dlog_send.o
/lib/security/libbb5stub.lo
/lib/security/libbb5stub.o
/lib/security/libmaemosec.la
/lib/security/maemosec_common.lo
/lib/security/maemosec_common.o
/lib/security/maemosec_storage.lo
/lib/security/maemosec_storage.o
/libtool
/ltmain.sh
/missing
/pkgconfig/maemosec-certman.pc
/pkgconfig/maemosec.pc
/updateca/certdata.txt
/updateca/parse-certdata-txt
/updateca/certs
/autom4te.cache

