Source: maemo-security-certman
Section: user/other
Priority: extra
Maintainer: Juhani Mäkelä <ext-juhani.3.makela@nokia.com>
Build-Depends: debhelper (>= 5), autotools-dev, libssl-dev, libexpat1-dev, libnss3-dev, microb-engine-dev
Standards-Version: 3.7.2

Package: libmaemosec0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Maemo security base library
 The common security base library 

Package: libmaemosec-dev
Section: devel
Architecture: any
Depends: libmaemosec0 (=${binary:Version})
Description: Maemo security base library
 Development files for the maemo security base library 

Package: libmaemosec-certman0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Maemo certificate manager shared library
 The maemo certificate manager shared library.

Package: libmaemosec-certman-dev
Section: devel
Architecture: any
# Conflicts: libcst-dev
# Replaces: libcst-dev
Depends: libmaemosec-certman0 (=${binary:Version})
Description: Maemo certificate manager shared library
 Development files for the maemo certificate manager.

Package: maemosec-certman-tools
Architecture: any
Depends: ${shlibs:Depends}
Description: Maemo certificate manager runtime tools
 The command line tools for managing certificate stores.

Package: maemosec-certman-common-ca
Architecture: all
Description: Common CA certificates
 The common CA certificate store.

Package: maemosec-certman-doc
Section: user/doc
Architecture: all
Description: Maemo certificate manager documentation
 Maemo certificate manager documentation is currently empty.
